.container {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

.botao {
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: inline-block;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 0.25rem;
  box-shadow: 0 1 2 rgba(0, 0, 0, 0.1);
  color: var(--p5);
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: max-content;
}
.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: var(--c10);
  color: var(--c2);
}
.botao.secundario:hover {
  background: var(--c9);
}

@media (max-width: 800px) {
  .botao {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .botao {
    padding: 0.5rem 0.75rem;
    font-size: 0.75rem;
  }
}

.link {
  display: inline-block;
  font: 400 clamp(0.75rem, 3vw, 1.5rem) / 1.5 "Poppins", sans-serif;
  color: var(--p1);
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: clamp(2px, 1vw, 4px);
  background: currentColor;
}

.link:hover {
  color: var(--c1);
}
