.perguntas {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.perguntas h2 {
  margin-bottom: 3.75rem;
}

.perguntas dl > div {
  padding: 1.25rem;
  border-radius: 0.25rem;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--c1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  background: var(--p1);
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url(../../img/icones/seta-abrir.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  max-width: 80ch;
  display: none;
}
.perguntas dd.ativa {
  display: block;
}

@media (max-width: 800px) {
  .perguntas {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
  }

  .perguntas h2 {
    margin-bottom: 2.5rem;
  }
}
